@import "LanguageChange/LanguageChange";

@import "SubList/SubList";

.menu {
  // .menu__button

  &__button {
    display: none;

    @media (max-width: $mobile) {
      position: relative;
      z-index: 9;
      display: block;
      width: rem(30);
      height: rem(18);

      &::before,
      &::after,
      & span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: $mainColorDark;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translateY(-50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
      }

      &._active span {
        transform: scale(0);
      }
    }
  }

  // .menu__body

  &__body {
    display: flex;
    align-items: center;
    gap: rem(40);

    @media (max-width: $mobile) {
      flex: 0 0 auto;
      align-items: end;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      padding: rem(100) rem(30) rem(30) rem(30);
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.75);
      transition: right 0.3s ease 0s;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
        height: rem(70);
      }

      &._active {
        right: 0;
      }
    }
  }

  // .menu__list

  &__list {
    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      gap: rem(20);
    }
  }

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: rem(5);

    @media (max-width: $mobile) {
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  // .menu__link

  &__link {
    text-align: right;
    flex: 0 1 auto;
    font-size: rem(18);
    color: $mainColorDark;

    @media (min-width: $mobile) {
      padding: rem(10) 0;
    }

    @media (max-width: $mobile) {
      font-size: rem(24);
    }
  }

  & a:hover {
    opacity: 0.5;
  }
}
