.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  // .breadcrumbs__breadcrumb

  &__breadcrumb {
    position: relative;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: rem(20);

      &::after {
        position: absolute;
        top: 50%;
        right: rem(-20);
        content: "/";
        transform: translate(-100%, -50%);
      }
    }

    &:last-child {
      font-weight: 700;
    }

    > a {
      transition: opacity 0.3s ease 0s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
