@include dataTheme(themeSwitcherBg, #d4d8dd, #222128);
@include dataTheme(themeSwitcherSlider, #ffffff, #494a50);
@include dataTheme(themeSwitcherImg, 0, 100%);

.theme-switcher {
  position: relative;
  display: flex;
  padding: 0 rem(3);
  background-color: var(--themeSwitcherBg);
  border-radius: rem(99);

  // .theme-switcher__slider

  &__slider {
    position: absolute;
    top: rem(3);
    bottom: rem(3);
    width: calc((100% - rem(6)) / 3);
    background-color: var(--themeSwitcherSlider);
    border-radius: 50%;
    transition: transform 0.15s ease 0s;
  }

  // .theme-switcher__input

  &__input {
    display: none;

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}):checked {
        ~ .theme-switcher__slider {
          transform: translateX(100% * ($i - 1));
        }
      }
    }
  }

  // .theme-switcher__label

  &__label {
    position: relative;
    z-index: 1;
    display: flex;
    padding: rem(8.83) rem(8);
    font-size: rem(18);
    cursor: pointer;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $mobile) {
      font-size: rem(24);
    }

    // .theme-switcher__label--checked

    &--checked {
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }
  }

  // .theme-switcher__img

  &__img {
    width: rem(20);
    filter: invert(var(--themeSwitcherImg));
  }

  // .theme-switcher__loader

  &__loader {
    &::after {
      width: rem(30);
      height: rem(30);
    }
  }
}
