ol {
  counter-reset: ol-numbers;

  li {
    list-style: none;
    position: relative;
    padding-left: rem(50);

    &::before {
      counter-increment: ol-numbers;
      content: counter(ol-numbers) ")";
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      width: rem(40);
    }
  }
}
