.tabs {
  // .tabs__titles

  &__titles {
    display: flex;
    font-size: rem(16);

    @media (max-width: $mobile) {
      font-size: rem(14);
    }
  }

  // .tabs__title

  &__title {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: rem(50);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: rem(5);
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-right: rem(5);
    }

    > * {
      display: block;
      padding: 0 rem(5);
      text-align: center;

      @include nowrap;
    }

    // .tabs__title--active

    &--active {
      cursor: default;
      outline: rem(2) solid var(--main-color);
      outline-offset: rem(2);

      &:hover {
        opacity: 1;
      }
    }
  }

  // .tabs__contents

  &__contents {
  }

  // .tabs__content

  &__content {
    padding: rem(10) 0;

    &:focus {
      outline: none;
    }
  }

  // .tabs--vertical

  &--vertical {
    display: flex;

    .tabs__titles {
      flex: 0 0 auto;
      flex-direction: column;
    }

    .tabs__title {
      flex: 0 0 auto;

      > * {
        @media (max-width: $mobile) {
          max-width: rem(45);
        }
      }
    }

    .tabs__content {
      padding-left: rem(10);
    }
  }
}
