@use "sass:math";

// Connection of mixins
@import "base/mixins.scss";

// Connection of Google fonts
// &display=swap

// Connection of local fonts
// @import "fonts/fonts";

// Connection of icon fonts
// @import "fonts/icons";

// ============================================================================

// Settings template

// Default font
$fontFamily: "", sans-serif;
$fontSize: rem(14);

// Primary colors

// Light scheme
$mainColor: #333333;
$mainBg: #ffffff;
// Dark scheme
$darkColor: #ffffff;
$darkBg: #333333;

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1920;
// The width of the limiting container
$maxWidthContainer: 1170;
// General indenter
$containerPadding: 30;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: rem($containerWidth);
$tablet: rem(991.98);
$mobile: rem(767.98);
$mobileSmall: rem(479.98);

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;

// ============================================================================

// Reset
@import "base/reset.scss";

// Lock scroll
body._lock {
  overflow: hidden;
}

// Shell wrapper
#__next {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // Press the footer
  > main {
    flex: 1 1 auto;
  }
}

// Custom scrollbar
::-webkit-scrollbar {
  width: rem(10);
  background-color: #f1f1f1;

  @media (prefers-color-scheme: dark) {
    background-color: #424242;
  }

  &-thumb {
    border-radius: rem(5);
    background-color: #a3a3a3;

    @media (prefers-color-scheme: dark) {
      background-color: #808080;
    }
  }
}

// Limiting container
@if $adaptiveType == 1 {
  // Responsive
  [class*="__container"] {
    @if $maxWidthContainer > 0 {
      max-width: rem($containerWidth);
      margin: 0 auto;
    }

    @if $containerPadding > 0 {
      @if $maxWidthContainer > 0 {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    } @else {
      @include responsiveValue(
        padding-left,
        math.div($containerPadding, 2),
        15
      );
      @include responsiveValue(
        padding-right,
        math.div($containerPadding, 2),
        15
      );
    }
  }
} @else {
  // According to breakpoints
  [class*="__container"] {
    margin: 0 auto;

    @if $maxWidthContainer > 0 {
      max-width: rem($containerWidth);
    } @else {
      @if $containerPadding > 0 {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;
    }

    @if $containerPadding > 0 and $maxWidthContainer > 0 {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

// Connecting basic styles, templates and auxiliary classes
@import "base.scss";

// Connection of common elements
@import "common.scss";

// Connecting styles of individual blocks
@import "@components/layout/Header/Header.scss";
@import "@components/layout/Footer/Footer.scss";
