// The ratio
$content: 50%;
$object: 50%;

.object-outside-container {
  @media (min-width: $mobile) {
    display: flex;
  }

  // .object-outside-container__content

  &__content {
    display: flex;
    flex: 0 0 100%;

    + * {
      @media (min-width: $mobile) {
        position: relative;
        flex: 0 0
          calc(
            ((100% - rem($container-padding)) * ($object / 100%)) +
              rem($container-padding) / 2
          );
        padding-right: rem(20);
        transform: translateX(-100%);
      }

      @media (width >= rem($container-width)) {
        flex: 0 0
          calc(
            50vw - ($content / 100% - 0.5) *
              calc(#{$max-width-container + px} - $scrollbar-width)
          );
      }

      @media (max-width: $mobile) {
        padding-bottom: rem(50);
      }

      img,
      iframe,
      video {
        padding-bottom: 30%;
      }
    }
  }

  // .object-outside-container__container

  &__container {
    display: flex;
    align-items: center;
  }

  // .object-outside-container__body

  &__body {
    @media (min-width: $mobile) {
      width: $content;
    }
  }
}
