.full-screen {
  position: relative;
  display: flex;
  flex-direction: column;

  // .full-screen__body

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20);
    background-color: rgba(0, 0, 0, 0.8);

    + * {
      img,
      iframe,
      video {
        @include responsiveObject(fixed);
      }
    }
  }
}
