@import "@/scss/module";

.fullScreen {
  position: relative;
  display: flex;
  min-height: 100vh;

  @supports (min-height: 100svh) {
    min-height: 100svh;
  }

  // .fullScreen__body

  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(20);
  }

  // .fullScreen__background

  &__background {
    img,
    iframe,
    video {
      z-index: -3;
    }
  }

  // .fullScreen__color

  &__color {
    @include fill;
    z-index: -2;
  }
}
