// The ratio
$content: 50%;
$img: 50%;

.responsive-object-out {
  display: flex;
  gap: rem(15);

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }

  // .responsvie-object-out__content
  &__content {
    flex: 0 0 100%;
    display: flex;
  }

  // .responsvie-object-out__container
  &__container {
    display: flex;
    align-items: center;
  }

  // .responsvie-object-out__body
  &__body {
    @media (min-width: $mobile) {
      max-width: $content;
    }
  }

  // .responsvie-object-out__title
  &__title {
  }

  // .responsvie-object-out__text
  &__text {
  }

  // .responsvie-object-out__img
  &__img {
    & img {
      max-width: 100%;
    }
    @media (min-width: $mobile) {
      position: relative;
      // padding-bottom: prc();
      flex: 0 0
        calc(((100vw - rem(30)) * math.div($img, 100%)) + math.div(rem(30), 2));
      transform: translateX(-100%);

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (min-width: rem($containerWidth)) {
      flex: 0 0
        calc(
          100vw -
            (
              ((100vw - rem($containerWidth)) / 2) +
                (
                  (rem($containerWidth) - rem($containerPadding)) *
                    math.div($content, 100%)
                ) + math.div(rem($containerPadding), 2)
            )
        );
    }
  }
}
