// The ratio
$content: 50%;
$img: 50%;

.responsive-object-out {
  @media (min-width: $mobile) {
    display: flex;
  }

  // .responsive-object-out__content

  &__content {
    flex: 0 0 100%;
    display: flex;

    & + * {
      * {
        width: 100%;
      }

      @media (min-width: $mobile) {
        position: relative;
        flex: 0 0
          calc(
            ((100vw - rem(30)) * math.div($img, 100%)) + math.div(rem(30), 2)
          );
        transform: translateX(-100%);

        * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @media (min-width: rem($containerWidth)) {
        flex: 0 0
          calc(
            100vw -
              (
                ((100vw - rem($containerWidth)) / 2) +
                  (
                    (rem($containerWidth) - rem($containerPadding)) *
                      math.div($content, 100%)
                  ) + math.div(rem($containerPadding), 2)
              )
          );
      }
    }
  }

  // .responsive-object-out__container

  &__container {
    display: flex;
    align-items: center;
  }

  // .responsive-object-out__body

  &__body {
    @media (min-width: $mobile) {
      width: $content;
    }
  }
}
