@import "Header/Header";
@import "ScrollTop/ScrollTop";
@import "Footer/Footer";
@include data-theme(scroll-color, #a3a3a3, #808080);
@include data-theme(scroll-bg, #f1f1f1, #424242);

// Scrollbar styles
::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: var(--scroll-bg);

  &-thumb {
    background-color: var(--scroll-color);
    border-radius: rem(5);
  }
}

// Body tag styles
body {
  // Lock scroll
  .lock {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
  }
}

// Shell wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }

  // Press the footer
  > main {
    flex: 1 1 auto;

    > section {
      &:first-child {
        padding-top: rem(85);
      }
    }
  }
}

// Limiting container

// Responsive
@if $adaptive-type == 1 {
  [class*="__container"] {
    @if $max-width-container > 0 {
      max-width: rem($container-width);
      margin: 0 auto;
    }

    @if $container-padding > 0 {
      @if $max-width-container > 0 {
        padding-right: rem(calc($container-padding / 2));
        padding-left: rem(calc($container-padding / 2));
      } @else {
        @include responsive-value(
          padding-right,
          calc($container-padding / 2),
          15
        );
        @include responsive-value(padding-left, calc($container-padding / 2), 15);
      }
    }
  }
}

// According to breakpoints
@else {
  [class*="__container"] {
    margin: 0 auto;

    @if $max-width-container > 0 {
      max-width: rem($container-width);
    } @else {
      @if $container-padding > 0 {
        padding-right: rem(calc($container-padding / 2));
        padding-left: rem(calc($container-padding / 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;
    }

    @if $container-padding > 0 and $max-width-container > 0 {
      padding-right: rem(calc($container-padding / 2));
      padding-left: rem(calc($container-padding / 2));
    }
  }
}
