.menu {
  // .menu__scroll-top

  &__scroll-top {
    visibility: hidden;
    position: fixed;
    padding: rem(20);
    bottom: rem(40);
    right: rem(20);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);

      .menu__scroll-icon {
        opacity: 0.5;
      }
    }

    &._active {
      visibility: visible;
      opacity: 1;
    }
  }

  // .menu__scroll-icon

  &__scroll-icon {
    display: block;
    border-left: rem(10) solid transparent;
    border-right: rem(10) solid transparent;
    border-bottom: rem(20) solid $mainColorDark;
    transition: all 0.3s ease 0s;
  }
}
