.menu {
  // .menu__scroll-top

  &__scroll-top {
    position: fixed;
    z-index: 10;
    padding: rem(20);
    bottom: rem(40);
    right: rem(20);
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &._hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  // .menu__arrow-top

  &__arrow-top {
    display: block;
    border-left: rem(10) solid transparent;
    border-right: rem(10) solid transparent;
    border-bottom: rem(20) solid $darkColor;
    transition: all 0.3s ease 0s;
  }
}
