.tabs {
  // .tabs__titles

  &__titles {
    display: flex;
    gap: rem(5);
  }

  &__title {
    flex: 0 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(50);
    font-size: rem(16);
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    @media (max-width: $mobile) {
      span {
        display: block;
        padding: 0 rem(5);
        text-align: center;
        font-size: rem(14);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:hover {
      opacity: 0.5;
    }

    &._active {
      opacity: 0.5;
      cursor: default;
    }
  }

  // .tabs__contents

  &__contents {
  }

  // .tabs__content

  &__content {
  }
}
