.tabs {
  // .tabs__titles

  &__titles {
    display: flex;
    font-size: rem(16);

    @media (max-width: $mobile) {
      font-size: rem(14);
    }
  }

  // .tabs__title

  &__title {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: em(50);
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-right: em(5);
    }

    @media (max-width: $mobile) {
      > span {
        display: block;
        padding: 0 em(5);
        text-align: center;
        @include nowrap;
      }
    }

    // .tabs__title_active

    &_active {
      cursor: default;
      opacity: 0.5;
    }
  }

  // .tabs__contents

  &__contents {
  }

  // .tabs__content

  &__content {
  }
}
