[class*="--checkbox"] {
  position: relative;

  // .checkbox__input

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:focus + label:before {
      box-shadow: 0 0 rem(5) #219fdf;
    }

    &:checked + label:before {
      background-color: #219fdf;
    }
  }

  // .checkbox__label

  label {
    position: relative;
    display: inline-flex;
    gap: rem(10);
    align-items: center;
    cursor: pointer;

    &:before {
      flex: 0 0 rem(20);
      align-self: flex-start;
      width: rem(20);
      height: rem(20);
      content: "";
      border: rem(1) solid #a7a9ac;
    }
  }
}
