.menu {
  // .menu__item

  &__item {
    // .menu__item_sub-list

    &_sub-list {
      align-items: center;
      gap: em(5, 18);

      // .menu__item_sub-list_active

      &_active {
        .menu__sub-list {
          visibility: visible;
          transform: translate(0);
          opacity: 1;
          pointer-events: all;
        }

        .menu__arrow-down {
          transform: rotate(180deg);
        }
      }

      @media (max-width: $mobile) {
        flex-wrap: wrap;

        .menu__sub-list {
          display: block;
        }
      }
    }
  }

  // .menu__arrow-down

  &__arrow-down {
    display: inline-block;
    border-left: em(5, 18) solid transparent;
    border-right: em(5, 18) solid transparent;
    border-top: em(10, 18) solid #ffffff;
    transition: transform 0.3s ease 0s;
  }

  // .menu__sub-list

  &__sub-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    padding: em(15, 18);
    transform: translate(10%, -10%);
    min-width: em(200, 18);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    transition: all 0.3s ease 0s;

    @media (max-width: $mobile) {
      display: none;
      position: relative;
      top: 0;
      flex: 1 1 100%;
      margin-top: em(20, 24);
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  // .menu__sub-item

  &__sub-item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .menu__sub-link

  &__sub-link {
    color: #ffffff;

    @media (max-width: $mobile) {
      font-size: rem(20);
      color: #000000;
    }
  }
}
