[class*="--checkbox"] {
  position: relative;

  > label {
    display: flex;
    gap: rem(10);
    align-items: center;
    cursor: pointer;

    &:before {
      flex: 0 0 rem(20);
      align-self: flex-start;
      width: rem(20);
      height: rem(20);
      content: "";
      border: rem(1) solid #a7a9ac;
    }
  }

  > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      + label {
        &:before {
          background-color: #219fdf;
        }
      }
    }
  }
}
