.menu {
  // .menu__arrow

  &__arrow {
    display: block;
    border-top: em(10, 18) solid #fff;
    border-right: em(5, 18) solid transparent;
    border-left: em(5, 18) solid transparent;
    transition: transform 0.3s ease 0s;
  }

  // .menu__sub-list

  &__sub-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: em(10, 18) em(15, 18);

    @media (min-width: $mobile) {
      position: absolute;
      top: 100%;
      right: 0;
      min-width: em(200, 18);
      pointer-events: none;
      visibility: hidden;
      background-color: rgb(0 0 0 / 80%);
      border-radius: em(5, 18);
      opacity: 0;
      transition: all 0.3s ease 0s;
      transform: translate(10%, -10%);
    }

    @media (max-width: $mobile) {
      padding-top: 0;
      padding-bottom: 0;

      & & {
        padding: 0;
      }
    }
  }

  // .menu__item

  &__item {
    // .menu__item_sub-list

    &_sub-list {
      align-items: center;

      @media (min-width: $mobile) {
        > * {
          &:first-child {
            margin-right: em(5, 18);
          }
        }
      }

      // .menu__item_sub-list_active

      &_active {
        > .menu__sub-list {
          pointer-events: all;
          visibility: visible;
          opacity: 1;
          transform: translate(0);
        }

        > .menu__arrow {
          transform: rotate(90deg);
        }
      }
    }
  }

  // .menu__sub-item

  &__sub-item {
    @media (min-width: $mobile) {
      padding: em(5, 18) 0;
    }

    @media (max-width: $mobile) {
      display: flex;

      &:not(:last-child) {
        margin-bottom: em(12, 18);
      }
    }
  }

  // .menu__sub-link

  &__sub-link {
    padding: 0 !important;
    color: #fff;

    @media (max-width: $mobile) {
      font-size: rem(20);
      color: #333 !important;
    }
  }

  // .menu__rc-collapse

  &__rc-collapse {
    background-color: transparent !important;
    border-width: 0 !important;

    .rc-collapse {
      // .rc-collapse-item

      &-item {
        // .rc-collapse-item-active

        &-active {
        }
      }

      // .rc-collapse-header

      &-header {
        justify-content: flex-end;
        padding: 0 !important;

        // .rc-collapse-header-text

        &-text {
          margin-right: em(8, 24);
        }
      }

      // .rc-collapse-expand-icon

      &-expand-icon {
      }

      // .rc-collapse-content

      &-content {
        padding: 0;
        transition: all 0.3s ease 0s;

        // .rc-collapse-content-active

        &-active {
          transform: translateY(em(10, 24));

          .rc-collapse {
            // .rc-collapse-content

            &-content {
              transform: translateY(0);
            }
          }
        }

        // .rc-collapse-content-box

        &-box {
          padding: em(10, 18) 0;
        }

        > .rc-collapse-content-box {
          margin: 0;
        }
      }

      // .rc-collapse__arrow

      &__arrow {
        border-right: rem(10) solid #fff;
        border-left-width: 0;
      }

      .rc-collapse {
        // .rc-collapse__arrow

        &__arrow {
          border-right-color: #333;
        }
      }
    }
  }
}
