.tooltip {
  // .tooltip__button

  &__button {
  }

  // .tooltip__body

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: rem(12);
  }

  // .tooltip__content

  &__content {
    overflow: hidden;
    border: rem(1) solid black;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: rem(8);
    box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.12),
      0 rem(1) rem(2) rgba(0, 0, 0, 0.24);

    &:focus {
      outline: rem(2) solid transparent;
      outline-offset: rem(2);
      box-shadow: 0 0 0 rem(3) rgba(0, 0, 0, 0.5);
    }
  }

  // .tooltip__box

  &__box {
    position: relative;
    padding: 1.75rem;
    color: #333333;
    background-color: #ffffff;
  }

  // .tooltip__enter

  &__enter {
    transition: all 0.2s ease-out 0s;
  }

  // .tooltip__enter-from

  &__enter-from {
    opacity: 0;
    transform: translateY(rem(4));
  }

  // .tooltip__enter-to

  &__enter-to {
    transform: translateY(0);
  }

  // .tooltip__leave

  &__leave {
    transition: all 0.15s ease-in 0s;
  }

  // .tooltip__leave-from

  &__leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  // .tooltip__leave-to

  &__leave-to {
    opacity: 0;
    transform: translateY(rem(4));
  }
}
