.tooltip {
  // .tooltip__button

  &__button {
  }

  // .tooltip__body

  &__body {
    position: absolute;
    top: rem(10);
    left: 0;
  }

  // .tooltip__content

  &__content {
    border-radius: rem(8);

    &:focus {
      outline: rem(2) solid transparent;
      outline-offset: rem(2);
    }
  }

  // .tooltip__box

  &__box {
    position: relative;
    padding: rem(25);
    color: #333333;
    background-color: #ffffff;
    border-radius: rem(5);
  }

  // .tooltip__enter

  &__enter {
    transition: all 0.2s ease-out 0s;
  }

  // .tooltip__enter-from

  &__enter-from {
    opacity: 0;
    transform: translateY(rem(4));
  }

  // .tooltip__enter-to

  &__enter-to {
    transform: translateY(0);
  }

  // .tooltip__leave

  &__leave {
    transition: all 0.15s ease-in 0s;
  }

  // .tooltip__leave-from

  &__leave-from {
    opacity: 1;
    transform: translateY(0);
  }

  // .tooltip__leave-to

  &__leave-to {
    opacity: 0;
    transform: translateY(rem(4));
  }

  a,
  button {
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }
}
