@import "@/scss/module";

.swiper {
  :global(.swiper-button-prev) {
    &::after {
      left: rem(15);
    }
  }

  :global(.swiper-button-next) {
    &::after {
      right: rem(15);
    }
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    @include hover;
    transition: opacity 0.3s ease 0s;

    &::after {
      @include centered(flex);
      position: absolute;
      width: em(60, 44);
      height: em(60, 44);
      font-size: rem(44) !important;
      color: var(--mainBg);
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: em(5, 44);
    }
  }

  :global(.swiper-button-disabled) {
    pointer-events: auto !important;
  }
}
