// The ratio
$content: 50%;
$object: 50%;

.object-outside-container {
  @media (min-width: $mobile) {
    display: flex;
  }

  // .object-outside-container__content

  &__content {
    flex: 0 0 100%;
    display: flex;

    & + * {
      img,
      iframe,
      video {
        max-width: 100%;
      }

      @media (min-width: $mobile) {
        position: relative;
        flex: 0 0
          calc(
            ((100% - rem($containerPadding)) * ($object / 100%)) +
              rem($containerPadding) / 2
          );
        transform: translateX(-100%);

        img,
        iframe,
        video {
          @include responsiveObject;
        }
      }

      @media (min-width: rem($containerWidth)) {
        flex: 0 0
          calc(
            50vw - ($content / 100% - 0.5) * calc(#{$maxWidthContainer + px})
          );
      }
    }
  }

  // .object-outside-container__container

  &__container {
    display: flex;
    align-items: center;
  }

  // .object-outside-container__body

  &__body {
    @media (min-width: $mobile) {
      width: $content;
    }
  }
}
