@use "sass:math";

// Connection of myxins
@import "scss/base/mixins";

// Connection of Google fonts
// &display=swap

// Connection of local fonts
// @import "scss/fonts/fonts";

// Connection of icon fonts
// @import "scss/fonts/icons";

// ============================================================================

// Settings template

// Default font
$fontFamily: "", sans-serif;
$fontSize: rem(14);

// Primary colors
$mainColor: #000000;

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1920;
// The width of the limiting container
$maxWidthContainer: 1170;
// General indenter
$containerPadding: 30;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: rem($containerWidth);
$tablet: rem(991.98);
$mobile: rem(767.98);
$mobileSmall: rem(479.98);

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;

// ============================================================================

// Reset
@import "scss/base/reset";

// Shell wrapper
.app {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // Press the footer
  > main {
    flex: 1 1 auto;
    border-color: red;
  }
}

// Limiting container
@if $adaptiveType == 1 {
  // Responsive
  [class*="__container"] {
    @if $maxWidthContainer > 0 {
      max-width: rem($containerWidth);
      margin: 0 auto;
    }

    @if $containerPadding > 0 {
      @if $maxWidthContainer > 0 {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    } @else {
      @include responsiveValue(
        padding-left,
        math.div($containerPadding, 2),
        15
      );
      @include responsiveValue(
        padding-right,
        math.div($containerPadding, 2),
        15
      );
    }
  }
} @else {
  // According to breakpoints
  [class*="__container"] {
    margin: 0 auto;

    @if $maxWidthContainer > 0 {
      max-width: rem($containerWidth);
    } @else {
      @if $containerPadding > 0 {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;
    }

    @if $containerPadding > 0 and $maxWidthContainer > 0 {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
}

// Connecting basic styles, templates and auxiliary classes
@import "scss/base";

// Connection of common elements
@import "scss/common";

// Connecting styles of individual blocks
@import "components/Header";
@import "components/Footer";

// Connection of individual pages
@import "App";
