// Settings template
$fontSize: rem(16);
// $fontFamily: "";

// Primary colors
@include dataTheme(mainColor, #333, #fff);
@include dataTheme(mainBg, #fff, #333);

// ============================================================================

// Adaptive grid settings

// The minimum page width
$minWidth: 320;
// The width of the canvas
$maxWidth: 1920;
// The width of the limiting container
$maxWidthContainer: 1170;
// General indenter
$containerPadding: 30;

// The width of the first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints

// PCs, laptops, some tablets in a horizontal position
$pc: rem($containerWidth);
// Tablets, some phones in the horizontal position
$tablet: rem(991.98);
// Large phones
$mobile: rem(767.98);
// Small phones
$mobileSmall: rem(479.98);

// Scrollbar width
$scrollbarWidth: rem(10);

// Adaptive type:
// 1 = responsiveness
// !1 = according to breakpoints
$adaptiveType: 1;
