.not-found {
  // .not-found__container

  &__container {
    margin-top: rem(70);
    padding-top: rem(50);
    padding-bottom: rem(50);
  }

  // .not-found__title

  &__title {
    margin-bottom: em(20, 60);
    font-size: rem(60);
  }

  // .not-found__label

  &__label {
    margin-bottom: em(20, 30);
    font-size: rem(30);
  }

  // .not-found__text

  &__text {
    font-size: rem(20);
  }
}
