@include font(icons);

%icon {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

[class*="_icon-"] {
  &::before {
    @extend %icon;

    display: block;
  }
}
